---
interface Props {
  from: string;
  to: string;
}

const { from, to } = Astro.props;
---

<section
  class="w-full h-[100px] mt-6"
  style={`background: linear-gradient(1deg, ${to} 50%, ${from} 51%);`}
>
</section>
<section style={`background: ${to}; color: ${from};`}><slot /></section>
<section
  class="w-full h-[100px]"
  style={`background: linear-gradient(-1deg, ${from} 50%, ${to} 51%);`}
>
</section>
